#uploadAvatar__button {
  /* opacity: 0;
  visibility: hidden;
  position: absolute; */
  display: none;
}

#uploadAvatar__input {
  background-color: var(--main);
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  outline-style: none;
  cursor: pointer;
  display: block;
  margin-top: 8px;
  text-align: center;
}

#uploadAvatar__input:hover {
  background-color: var(--main-bright);
}

#uploadAvatar__input:active {
  background-color: var(--main);
  padding-top: 9px;
  padding-bottom: 7px;
}
